userName is :<strong>{{userName}}</strong><br>

<div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
            <input type="text" pInputText placeholder="Username" #uname>         
        </div><br>
  
  
        <p-splitButton label="Save" icon="pi pi-file"  styleClass="ui-button-success" (click)="UpdateName(uname)"></p-splitButton>












































<!-- product ID: <strong class="text-success">{{Product.id}}</strong>
product name: <strong class="text-success">{{Product.name}}</strong><br><br> -->
<!-- <button (click)="btnClick()">submit</button> -->
